<div [formGroup]="form">
  <div class="mat-title">Login</div>
  <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      type="string"
      minlength="1"
      placeholder="Email">
    <mat-hint>Length must be greater than 1</mat-hint>
    <mat-error *ngIf="isEmailInvalid">Length must be greater than 1</mat-error>
  </mat-form-field>
  <p>
    <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        minlength="1"
        placeholder="Password">
      <mat-hint>Length must be greater than 1</mat-hint>
      <mat-error *ngIf="isPasswordInvalid">Length must be greater than 1</mat-error>
    </mat-form-field>
  </p>

  <div class="buttons-div">
    <button mat-raised-button type="submit" [disabled]="!form.valid" (click)="onLogin()">Login</button>
  </div>
</div>
