<div class="page-wrapper">
  <p class="mat-h1">Shelves</p>
  <div class="shelves-cards-container">
    <mat-card class="mat-elevation-z12" *ngFor="let shelf of shelves" (click)="onOpenShelf(shelf)">
      <mat-card-content>
        <div>
          <span class="mat-h4">{{shelf.title}}</span>
          <mat-divider inset></mat-divider>
          <span>{{shelf!.formattedAddress!.length > 100 ? shelf!.formattedAddress!.slice(0, 100) + '...' : shelf?.formattedAddress}}</span>
        </div>
        <img alt="" src="{{shelf!.pictures[0] != null ? shelf!.pictures[0] : '../../../assets/images/default_book_pic.png'}}">
      </mat-card-content>
    </mat-card>
    <mat-card
    (click)="onNewShelf()"
    class="mat-elevation-z12 new-card"
    *ngIf="auth.isAuthorized() && auth.isManager()">
    <mat-card-title>
      <span class="title-span">New Shelf</span>
    </mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content class="new-card-content">
      <mat-icon class="new-article-icon">add</mat-icon>
    </mat-card-content>
  </mat-card>

  </div>
</div>
