.page-wrapper
  min-height: 100vh
  position: relative
  margin: 10px 100px

.shelves-cards-container
  min-width: 1000px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  top: 20px

mat-card-content
  display: flex
  flex-direction: row
  overflow: hidden
  mat-divider
    margin-top: -5px
    margin-bottom: 5px
  img
    object-fit: cover
    max-width: 210px
    max-height: 300px

mat-card
  max-width: 420px
  max-height: 300px
  margin: 20px

.new-article-icon
  width: fit-content
  height: fit-content
  font-size: 170px
  color: lightgray

.new-card
  flex-basis: 300px
  flex-grow: 0
  flex-shrink: 0
  height: 420px

.new-card-content
  display: flex
  justify-content: center
  align-items: center
  height: 300px
  overflow: hidden
  text-overflow: fade

