.page-wrapper
  min-height: 100vh
  margin: 10px 100px

.filters-wrapper
  max-width: 30vh

.filters-section-header
  margin-top: 5px

.filters-header
  display: flex
  flex-direction: row
  justify-content: space-between
