<footer>
  <div class="wrapper">
    <div class="social-links">
      <a href="/"><mat-icon>facebook</mat-icon></a>
      <a href="/"><mat-icon>telegram</mat-icon></a>
      <a href="/"><mat-icon>contacts</mat-icon></a>
    </div>
    <div class="links">
      <a href="/about">How it works</a>
      <a href="/shelves">Shelves</a>
      <a href="/library">Library</a>
      <a href="/" target="_blank">GitHub</a>
    </div>
    <hr/>
    <span id="copyright">© 2022 BookCrossing All Rights Reserved</span>
  </div>
</footer>
